<section class='pa-content'>
  <% owner = activity.owner %>

  <% if activity.trackable %>
    <% object = activity.trackable %>
    <% opt = activity.key.split('.').last %>
    <div>
      <% if opt == 'create' %>
        <%= fa_icon "plus fw" %>
      <% else %>
        <%= fa_icon "pencil fw" %>
      <% end %>
      <strong><%= link_to(owner.name, admin_user_path(owner)) %></strong>
      <%= t("activity.#{opt}") %>
      <% path = send("#{object.class.name.underscore}_path", object) rescue '#' %>
      <%= link_to(activity.parameters[:name], path) %>
      <small class='time-ago'><%= time_ago_in_words(activity.created_at) %></small>
    </div>

  <% else %>
    <% opt = :destroy %>
    <%= fa_icon "trash fw" %>
    <strong><%= link_to(owner.name, admin_user_path(owner)) %></strong>
    <%= t("activity.#{opt}") %>
    <%= activity.parameters[:name] %>
    <small class='time-ago'><%= time_ago_in_words(activity.created_at) %></small>

  <% end %>
</section>
