<ul>
  <% templates.each do |template| %>
    <li>
      <span><%= template.contract_identifier %></span>
      <span>( <%= link_to '下载', template.contract.url %>
        <%= form_tag(contract_template_path(template), method: :delete, class: 'form_tag') do %>
          <%= link_to "删除",  "#", :onclick=>"$(this).closest('form').submit()" %>
        <% end %>
         )
      </span>
    </li>
  <% end %>
</ul>

<%= form_for ContractTemplate.new, url: contract_templates_path, class: 'form_tag' do |f| %>
  <%= f.file_field :contract %>
  <%= f.hidden_field :sub_company_id, value: company.id %>

  <%= link_to "上传",  "#", :onclick=>"$(this).closest('form').submit()" %>
<% end %>
