<%= form_for EngineeringContractFile.new, url: generate_and_download_engineering_contract_files_path, class: 'form_tag' do |f| %>
  <%= f.hidden_field :engineering_project_id, value: engineering_project_id %>
  <%= field_set_tag nil, class: 'inputs' do %>
    <ol>
      <li>
      <%= f.label '吉易子公司' %>
      <%= f.text_field :sub_company, value: sub_company %>
      </li>
      <li>
      <%= f.label '合作单位' %>
      <%= f.text_field :engineering_corp, value: engineering_corp %>
      </li>
    </ol>
  <% end %>
  <%= f.button "生成" %>
<% end %>
