<% sub_company.contract_files.each do |cf| %>
  <ul>
    <li>
      <span><%= cf.contract_identifier %></span>
      <span>( <%= link_to '下载', cf.contract.url %> 
        <%= form_tag(contract_file_path(cf), method: :delete, class: 'form_tag')  do %>
          <%= link_to "删除",  "#", :onclick=>"$(this).closest('form').submit()" %>
        <% end %>
         )
      </span>
    </li>
  </ul>
<% end %>

<%= semantic_form_for sub_company.contract_files.new, url: contract_files_path do |f| %>
  <%= f.inputs do %>
    <%= f.input :contract, as: :file, label: '合同文件' %>
    <%= f.input :sub_company_id, as: :hidden, input_html: {value: sub_company.id} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: '上传' %>
  <% end %>
<% end %>
