<ul>
  <% sub_company.contract_templates.each_with_index do |ct, idx| %>
    <li>
      <span><%= ct.file.basename %></span>
      <span>( <%= link_to '生成合同文件', generate_and_download_contract_files_path + "?sub_company_id=#{sub_company.id}&template=#{idx}" %> )
      </span>
    </li>
  <% end %>
</ul>

<ul>
  <% sub_company.contract_files.custom.each do |cf| %>
    <li>
      <span><%= cf.contract_identifier %></span>
      <span>( <%= link_to '下载', cf.contract.url %> 
        <%= form_tag(contract_file_path(cf), method: :delete, class: 'form_tag') do %>
          <%= link_to "删除",  "#", :onclick=>"$(this).closest('form').submit()" %>
        <% end %>
         )
      </span>
    </li>
  <% end %>
</ul>

<%= form_for ContractFile.new, url: contract_files_path, class: 'form_tag' do |f| %>
  <%= f.file_field :contract %>
  <%= f.hidden_field :sub_company_id, value: sub_company.id %>
  <%= link_to "上传",  "#", :onclick=>"$(this).closest('form').submit()" %>
<% end %>

