<%= semantic_form_for SalaryItem.new, url: {action: :import_do}, html: {multipart: true} do |f| %>
  <%= f.inputs "说明" do %>
    <ol>
      <li>1. 上传文件需为 xls(x) 类型</li>
      <li>2. 文件格式需为第一列员工姓名，第二列应发工资（对于重复姓名的情况，需要附加第三列身份证号，以标识同名员工）</li>
      <li>3. 导入过程部分条目出错的情况，系统会首先将没问题的条目导入，并自动生成一个新的 xlsx 文件，包含未成功导入条目并附加说明原因，请修改新的 xlsx 后重新上传</li>
    </ol>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :file, as: :file, label: t('active_admin_import.file') %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: t("active_admin_import.import_btn"), button_html: {disable_with: t("active_admin_import.import_btn_disabled")} %>
  <% end %>
<% end %>
