<%= semantic_form_for SalaryItem.new, url: {action: :import_do}, html: {multipart: true} do |f| %>
  <%= f.inputs "说明" do %>
    <ol>
      <li>1. 上传文件需为 xls(x) 类型</li>
      <li>2. 文件格式需为第一列员工姓名，第二列应发工资</li>
    </ol>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :file, as: :file, label: t('active_admin_import.file') %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: t("active_admin_import.import_btn"), button_html: {disable_with: t("active_admin_import.import_btn_disabled")} %>
  <% end %>
<% end %>
