<%= form_tag generate_and_download_engineering_contract_files_path, class: 'form_tag' do |f| %>
  <%= hidden_field_tag :engineering_project_id, project.id %>
  <%= hidden_field_tag :role, role %>

  <%= field_set_tag nil, class: 'inputs' do %>
    <ol>
      <li>
        <%= label_tag '合作单位名称' %>
        <%= text_field_tag :corp_name, project.corporation.try(:name) %>
      </li>
      <li>
        <%= label_tag '项目名称' %>
        <%= text_field_tag :name, project.name %>
      </li>
      <li>
        <%= label_tag '开始日期' %>
        <%= text_field_tag :start_date, project.project_start_date.strftime("%Y年%m月%d日") %>
      </li>
      <li>
        <%= label_tag '结束日期' %>
        <%= text_field_tag :end_date, project.project_end_date.strftime("%Y年%m月%d日") %>
      </li>
      <li>
        <%= label_tag '工作量' %>
        <%= text_field_tag :range, project.project_range %>
      </li>
      <li>
        <%= label_tag '需要人数' %>
        <%= text_field_tag :need_count %>
      </li>
      <li>
        <%= label_tag '管理费率' %>
        <%= text_field_tag :admin_rate, '5%' %>
      </li>
    </ol>
  <% end %>
  <%= button_tag "生成" %>
<% end %>
