<%= form_tag generate_and_download_engineering_contract_files_path, class: 'form_tag' do |f| %>
  <%= hidden_field_tag :engineering_project_id, project.id %>
  <%= hidden_field_tag :outcome_item_id, outcome_item.id %>
  <%= hidden_field_tag :role, role %>

  <%= field_set_tag nil, class: 'inputs' do %>
    <ol>
      <li>
        <%= label_tag '合作单位名称' %>
        <%= text_field_tag :corp_name, project.corporation.try(:name) %>
      </li>
      <li>
        <%= label_tag '回款金额' %>
        <%= text_field_tag :amount, project.project_amount %>
        <%= content_tag(:p, '默认为平均分配金额，如需为每个人指定回款款金额，请以空格分开', class:"inline-hints") %>
      </li>
      <li>
        <%= label_tag '回款人' %>
        <%= text_field_tag :persons, outcome_item.persons.join(' ') %>
      </li>
      <li>
        <%= label_tag '银行名称' %>
        <%= text_field_tag :bank, outcome_item.bank.join(' ') %>
      </li>
      <li>
        <%= label_tag '银行卡号' %>
        <%= text_field_tag :account, outcome_item.account.join(' ') %>
      </li>
      <li>
        <%= label_tag '开户地址' %>
        <%= text_field_tag :address, outcome_item.address.join(' ') %>
      </li>
    </ol>
  <% end %>
  <%= button_tag "生成" %>
<% end %>
